<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>New Order</title>
    <link rel="stylesheet" type="text/css" href="view.css" media="all">
    <script type="text/javascript" src="view.js"></script>

</head>
<body id="main_body" >

<img id="top" src="top.png" alt="">
<div id="form_container">

    <h1><a>New order</a></h1>
    <form id="form_94937" class="appnitro"  method="post" action="">
        <div class="form_description">
        </div>
        <ul >

            <li id="li_3" >
                <label class="description" for="element_3">Name </label>
                <span>
			<input id="element_3_1" name= "element_3_1" class="element text" maxlength="255" size="25" value=""/>
		</span>
            </li>		<li id="li_4" >
            <label class="description" for="element_4">Email </label>
            <div>
                <input id="element_4" name="element_4" class="element text medium" type="text" maxlength="255" value=""/>
            </div>
        </li>		<li id="li_5" >
            <label class="description" for="element_5">Phone </label>
            <div>
                <input id="element_5" name="element_5" class="element text medium" type="text" size="9" maxlength="9" value=""/>
            </div>
        </li>		<li id="li_2" >
            <label class="description" for="element_2">Choose project color </label>
            <span>
			<input id="element_2_1" name="element_2" class="element radio" type="radio" value="1" />
<label class="choice" for="element_2_1">black and white</label>
<input id="element_2_2" name="element_2" class="element radio" type="radio" value="2" />
<label class="choice" for="element_2_2">color</label>

		</span>
        </li>		<li id="li_1" >
            <label class="description" for="element_1">Quantity </label>
            <div>
                <input id="element_1" name="element_1" class="element text small" type="text" maxlength="6" value=""/>
            </div>
        </li>

            <li class="buttons">
                <input type="hidden" name="form_id" value="94937" />

                <input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
            </li>
        </ul>
    </form>

</div>
<img id="bottom" src="bottom.png" alt="">
</body>
</html>